  <style>

</style>

<div class="vertical-center">
    <div id="container">
      <h2>LOGIN</h2>
<%= form_for :user do |f| %>
<%= f.email_field :email, autofocus: true, placeholder: :email %>
<%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
<br><br>
<%= f.submit "LOG IN" %>
<% end %>
<br>
<br>

</div>
</div>

<a>
  <div class="row">
  <div class="column">
  <%= link_to 'LOGIN via FACEBOOK', '/auth/facebook', class: 'btn btn-inside btn-boarder' %>
  </a>
</div>
<div class="column">
  <%= link_to "SIGN UP", new_user_path, class: 'btn btn-inside btn-boarder' %><br />
</div>
</div>
