<style>
 hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
 }
</style>
<h1>ALL RECIPES</h1>
<h4><%= link_to "HOME", root_path %></h4>

<br>
<br>
<br>
<% Recipe.all.each do |r| %>
<hr>
<h3><%= r.title.upcase %></h3>
<img src= <%= r.pic_url %> >
<br>
<br>
  <div class='row'>

       <div class="column">
       <%= link_to "READ", recipe_path(r), class: 'btn btn-inside btn-boarder'  %>  </strong>
      </div>

    </div>
    <br>
    <br>
    <% end %>
  <br>
  <br>
&nbsp; | &nbsp;  <%= link_to "RECIPES", all_recipes_path %>  <strong>&nbsp; | &nbsp;  <%= link_to "HOME", root_path %> &nbsp; | &nbsp; </strong> <%= link_to "CREATE", recipes_new_path %>  &nbsp; | &nbsp;
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
