<style>

</style>
<h1>MY RECIPES</h1>
<h2><%= link_to "COOKED RECIPES", recipes_cooked_path %></h2>
<% current_user.recipes.each do |r| %>
<h3><%= r.title.upcase %></h3>
<img src= <%= r.pic_url %> >
<br><br><br>
  <div class="row">
    <div class="column">
     <%= link_to 'Delete', recipe_path(r), method: :delete, class: 'btn btn-inside btn-boarder' %>

       </div>
       <div class="column">
       <%= link_to "READ", recipe_path(r), class: 'btn btn-inside btn-boarder'  %>
      </div>
       <div class="column">
       <%= link_to "EDIT", edit_recipe_path(r), class: 'btn btn-inside btn-boarder'  %>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <% end %>
  <br>
  <br>
&nbsp; | &nbsp;  <%= link_to "RECIPES", all_recipes_path %>  <strong>&nbsp; | &nbsp;  <%= link_to "HOME", root_path %> &nbsp; | &nbsp; </strong> <%= link_to "CREATE", recipes_new_path %>  &nbsp; | &nbsp;
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
