<style>

</style>

<h2>CREATE RECIPE</h2>
<br>

<h3>PICK INGREDIENTS</h3>
<%= form_for recipes_new_path, method: :post do |f| %>
<div class="field">
  <%= f.collection_check_boxes(:ingredient_id, current_user.ingredients.uniq, :name, :name, {prompt: false}, style: "width: 100px; height: 100px;") do |b| %>
   <%= b.label(class:"label-checkbox") { b.check_box + b.text.upcase } %>
  <% end %>
  <br>
</div>


<br> <h4>AND/OR ADD ANOTHER:</h4>
    <%= f.text_field :name %>
    <br>
    <div id="vertical-center">
      <div id="container">
  <%= f.submit "SUBMIT", class: 'button' %>
</div>
</div>
</p>
</p>
  <% end %>
<br>
  <%= link_to "BACK", root_path %>
<br>
<br>

<br>
<br>
<br>
