
<style>

</style>
<h1>PICK A RECIPE!</h1>
<h2>Hungry? Let's make something!</h2>

  <% @collection.each do |p| %>

  <img src="<%= p[1] %>">
   <h4><%= p[2] %></h4>
  <%= form_for :recipe, url: showtime_path do |f| %>
    <%= f.hidden_field :"#{p[0]}" %>
    <div class="vertical-center">
        <div id="container">
    <%= f.submit "SELECT" %>
      </div>
      </div>
      <br>
      <% end %>
    <% end %>
<br>
<br>
<br>
<br>
<br>
<br>
  <%= link_to "BACK", root_path %>
<br>
<br>
<br>
<br>
