<style >

</style>
<% if @recipe.nil? %>
<% @recipe = Recipe.find(params[:id]) %>
<% end %>

<h2><%= @recipe.title.upcase %></h2>
<h3><sub> SAVED BY </sub><%= @recipe.user.username.upcase %></h3>
<img src= <%= @recipe.pic_url %> >
  <h3><em>Ingredients:</em> </h3>
  <h4><%= @recipe.ingred %></h4>
  <h3><em>Description:</em> </h3>
  <h3 style="font-size:1.2em;"><%= @recipe.description %></h3>
  <% if @recipe.recipe_ingredient %>
  <h3>Category: <%= @recipe.recipe_ingredient.category %></h3>
  <% end %>
  <h3>Cooked? <%= @recipe.cooked ? "YES!" : "NOT YET..." %></h3>
  <h4><em>Created on:</em> <%= @recipe.created_at.strftime('%m/%d/%Y') %></h4>
  <br>
  <br>
  <div class="comments">
    <%= render partial: 'comments/comment_form', locals: {recipe: @recipe, comment: @comment} %>
  <br>

  <button id="show_comments" data-prayer-id="<%= @recipe.id %>" data-current-user="<%= current_user.username %>">Show Comments (<%= @recipe.comments.count %>)</button>
<br><br>
<div id="comments_index">
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
&nbsp; | &nbsp;  <%= link_to "RECIPES", all_recipes_path %>  <strong>&nbsp; | &nbsp;  <%= link_to "CREATE", recipes_new_path %> &nbsp; | &nbsp; </strong> <%= link_to "HOME", root_path %> &nbsp; | &nbsp;
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
