<div class="vertical-center">
    <div id="container">
      <h3>SIGN UP</h3>
    <%= form_for :user do |f| %>
    <%= f.text_field :username, autofocus: true, placeholder: :username %> <br><br>
    <%= f.email_field :email, autofocus: true, placeholder: :email %><br><br>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %><br><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Retype Password" %><br><br>
    <%= f.submit "SIGN UP" %><br><br>
    <br>
    <br>
<%# ADD OMNIAUTH %>
  <% end %>
</div>
</div>

<br>
<%= link_to "BACK", root_path, class: 'btn btn-inside' %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
