<style>

    h2 {
      font-size: 5.3em;
    }
</style>

<h1><%= link_to current_user.username.upcase, users_info_path %></h1>
<%= link_to "INDEX", all_recipes_path, class: 'recipe' %>
<br>
<br>
<div class="vertical-center">
    <a href= <%=user_ingredients_path(current_user)%>>
      <div id="container-left">
       MY PANTRY
      </div>
    </a>
    <a href= <%=my_recipes_path%>>
      <div id="container-right">
        MY RECIPES
      </div>
    </a>
</div>
    <br>
    <h3><%= link_to "LOGOUT", logout_path, method: :post %></h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
