<style>
    #container-left:hover{
      background-size: cover;
      color: white;
      font-size: 5vw;
    }
    #container-left{
      width: 40vw;
      height: 30vw;
      text-align: center;
      background-size: cover;
      font-size: 4vw;
      color: white;
      margin-right: 1.66vw;
      line-height: 15vw;
      font-size:4vw;
      color: black;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    #container-right:hover {
      background-size: cover;
      color: white;
      font-size: 5vw;
    }
    #container-right{
      background-size: cover;
      font-size: 4vw;
      color: black;
      line-height: 15vw;
      margin-left: 1.66vw;
      width: 40vw;
      height: 30vw;
      text-align: center;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    .vertical-center {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
    h2 {
      font-size: 5.3em;
    }
</style>

<h1><%= link_to "#{current_user.username.upcase}", my_recipes_path %></h1>

<%= link_to "RECIPES", all_recipes_path, class: 'recipe' %>
<div class="vertical-center">
    <a href= <%=ingredients_path%>>
      <div id="container-left">
       MY PANTRY
      </div>
    </a>
    <a href= <%=my_recipes_path%>>
      <div id="container-right">
        MY RECIPES
      </div>
    </a>
</div>
    <br>
    <h3><%= link_to "LOGOUT", logout_path, method: :post %></h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
