<style>

</style>
<h2>ADD ITEM TO PANTRY</h2>
<br>
    <div id="vertical-center">
      <div id="container">
<%= form_for @ingred, url: user_ingredients_path(current_user) do |f| %>
<br>
<br>
<%= f.text_field :name, placeholder: "NAME" %>
<br>
<br>
<%= f.text_field :quantity, placeholder: "QUANTITY" %>
<br>
<br>
<%= f.submit "ADD", class: "btn btn-primary"  %>
<% end %>
</div>
</div>
<br>
<br>
<%= link_to "BACK", root_path %>
<br>
<br>
<br>
<br>
<br>
