<div id="ingredient">
<h1><em><%=  @ingredient.name.upcase %></em></h1>
<h2><%= @ingredient.quantity %></h2>
<h2>Date added: <%= @ingredient.created_at.strftime('%m/%d/%Y') %></h2>
<br>
</div>
<br>
 <h2><small>Back to</small>
   <sup><%= link_to "PANTRY", user_ingredients_path %></sup></h2>
<br>
<br>
<div class="vertical-center">
    <div id="container">
 <p data-id="<%= @ingredient.id %>" id="cancelIngred"> <%= link_to "DELETE", ingredient_path, method: "delete" %>  </p>
</div>
</div>
<div class="other-ingredient">
  <h3>OTHER INGREDIENTS</h3>
  <% if @ingredient.is_not_first %>
<div class="previous-ingredient" style="text-align:left;">
<button id="previous-ingredient" data-ingredient-id="<%= @ingredient.id %>" style="float:left;">PREVIOUS</button>
</div>
  <% end %>
  <% if @ingredient.is_not_last %>
<div class="next-ingredient" style="text-align:right;">
<button id="next-ingredient" data-ingredient-id="<%= @ingredient.id %>" style="float:right;">NEXT</button>
</div>
  <% end %>
<br>
<br>

<br>
<br>
<h2><%= link_to "LOGOUT", logout_path, method: :post %></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
