<!DOCTYPE html>
<html>
  <head>

    <title>Gastronome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
    .recipe {
      background-size: cover;
      font-size: 4vw;
      color: navy;
      width: 45vw;
      height: 45vw;
      text-align: center;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    .recipe:hover{
      background-size: cover;
      color: white;
      font-size: 5.5vw;
    }
    #container-left:hover{
      background-size: cover;
      color: white;
      font-size: 5vw;
    }
    #container-left{
      width: 45vw;
      height: 45vw;
      text-align: center;
      background-size: cover;
      font-size: 4vw;
      color: white;
      margin-right: 1.66vw;
      line-height: 45vw;
      font-size:4vw;
      color: black;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    #container-right:hover {
      background-size: cover;
      color: white;
      font-size: 5vw;
    }
    #container-right{
      background-size: cover;
      font-size: 4vw;
      color: black;
      line-height: 45vw;
      margin-left: 1.66vw;
      width: 45vw;
      height: 45vw;
      text-align: center;
      font-family: 'Helvetica', sans-serif;
      font-weight: 900;
      letter-spacing: -3px;
    }
    .vertical-center {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
    a {
      color: #080C3B;
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
    body {
      padding: 3em;
      margin: 0;
      background: #8DF2E1;
      font-family: "Lato";
      color: #080C3B;
    }
    input {
      margin:0 auto;
      margin-top: 5px;
      padding: inherit;
      color: white;
      width:70%;
      height: 20%;
      font-size: 1em;
      text-align: center;
      border-style: none;
      background: transparent;
      border-bottom: 1px solid rgba(150,150,150, .1);
    }
    input:hover {
      margin:0 auto;
      margin-top: 5px;
      padding: 15px;
      width:70%;
      height: 20%;
      text-align: center;
      border-style: none;
      border-bottom: 1px solid rgb(37, 42, 58);
      background: transparent;
    }
    input:focus {
      margin:0 auto;
      margin-top: 5px;
      padding: 15px;
      font-family: 'Lato';
      font-size: 1.25em;
      outline-width: 0;
      border-bottom: 1px solid rgb(37, 42, 58);
      color:black;
      background: rgba(255,255,255,.1);
    }
    .image-upload > input{
      display: none;
    }
    .image-upload > label{
      width: 5vw;
      height: 5vw;
      cursor:pointer;
    }

    .login {
      width: 70%;
      height: 3.5vh;
      padding-top:1.5%;
      border-style: none;
      background: #EAEAEA;
      border-radius:30px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
    }
    .login a {
      padding-top:2.5%;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
    }
    .login:hover {
      background: #FF2E63;
      color: white;
    }
    #container {
      margin: 0 auto;
      width: 20vw;
      text-align: center;
      background: rgba(255,255,255,.1);
      padding:30px 0px;
    }
    .vertical-center {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    .image-upload > input{
      display: none;
    }
    .image-upload > label{
      width: 5vw;
      height: 5vw;
      cursor:pointer;
    }

    .login {
      width: 70%;
      height: 3.5vh;
      padding-top:1.5%;
      border-style: none;
      background: #EAEAEA;
      border-radius:30px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
    }
    .login a {
      padding-top:2.5%;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
    }
    .login:hover {
      background: #FF2E63;
      color: white;
    }
    .google {
      background: #EAEAEA;
      width: 70%;
      height: 3.5vh;
      padding-top:1.75%;
      border-style: none;
      border-radius:30px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
    }
    .google:hover {
      background: #0391FC;
      color: white;
    }
    .vertical-center {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    h1, h2, h3, h4, body, p {
      text-align: center;
      color: #080C3B;
      margin: 2em 0;
    }
    p {
      color: black;
      font-size: 2em;
    }
    h1 {
      font-size: 6em;
    }
    h2 {
      font-size: 2.8em;
    }
    h3 {
      font-size: 1.8em;
    }
    h4 {
      font-size: 1.3em;
    }

    ol {
      text-align: left;
    }
    #notices {
      text-align: center;
      color: white;
      }
      .row {
        display: flex;
        }

        .column {
            flex: 50%;
        }

      .container {
          width: 500px;
          height: 500px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }

      .btn, input[type=submit] {
          width: 100px;
          height: 100px;
          border: none;
          color: inherit;
          background: none;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: normal;
          font-weight: 600;
          outline: none;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          top:
          ;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }

      .btn img{
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }

      .btn:after, input[type=submit]:hover  {
          content: '';
          z-index: -1;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
      }

      .bg {
          height: 32px;
          width: 32px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }

      .btn-boarder {
          border: 3px solid #fff;
          border-radius: 100%;
      }

      .animation {
          -webkit-transform: translate(100px, -100px);
          -moz-transform: translate(100px, -100px);
          -o-transform: translate(100px, -100px);
          -ms-transform: translate(100px, -100px);
          transform: translate(100px, -100px);
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
      }

      .animation2 {
          -webkit-animation: fadeIn 0.4s ease-out;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-fill-mode: forwards;
          -webkit-animation-delay: 0.4s;
          -moz-animation: fadeIn 0.4s ease-out;
          -moz-animation-iteration-count: 1;
          -moz-animation-fill-mode: forwards;
          -moz-animation-delay: 0.4s;
          animation: fadeIn 0.4s ease-out;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-delay: 0.4s;
      }

      @-webkit-keyframes fadeIn {
          0% {
              opacity: 0;
          }

          100% {
              opacity: 1;
          }
      }

      @keyframes fadeIn {
          0% {
              opacity: 0;
          }

          100% {
              opacity: 1;
          }
      }
      .around {
          width: 101px;
          height: 101px;
          border: none;
          color: inherit;
          background: none;
          cursor: pointer;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 300;
          outline: none;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }

      .around:after {
          content: '';
          position: absolute;
          z-index: -1;
      }

      .around-boarder {
          border: 120px solid #FF7F50;
          border-radius: 50%;
      }
      body {
        background-color: #e6e6ff;
        text-align: center;
      }
      #container-left:hover{
        background-size: cover;
        color: white;
        font-size: 5vw;
      }
      #container-left{
        width: 40vw;
        height: 30vw;
        text-align: center;
        background-size: cover;
        font-size: 4vw;
        color: white;
        margin-right: 1.66vw;
        line-height: 15vw;
        font-size:4vw;
        color: black;
        font-family: 'Helvetica', sans-serif;
        font-weight: 900;
        letter-spacing: -3px;
      }
      #container-right:hover {
        background-size: cover;
        color: white;
        font-size: 5vw;
      }
      #container-right{
        background-size: cover;
        font-size: 4vw;
        color: black;
        line-height: 15vw;
        margin-left: 1.66vw;
        width: 40vw;
        height: 30vw;
        text-align: center;
        font-family: 'Helvetica', sans-serif;
        font-weight: 900;
        letter-spacing: -3px;
      }
      .vertical-center {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        align-items: center;
      }
    </style>

  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
     <%= yield %>
  </body>
</html>
